#course {
  display: flex;
  max-width: 1366px;
  height: 100vh;
  overflow: hidden;
}

.course-detail {
  width: 70vw;
  overflow-y: scroll;
}

.course-sections {
  width: 30vw;
  background-color: #413f56;
}

.course-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px auto;
  width: 70%;
}

.course-header .course-logo img {
  width: 150px;
}

.course-header ul {
  display: flex;
}

.course-header ul li {
  margin: 0 10px;
}

/* Course Detail */

.course {
  width: 70%;
  margin: auto;
}

.video {
  width: 100%;
  border-radius: 20px;
  margin: 20px 0;
}

.course-headline {
  margin: 20px 0;
}

.grid {
  display: grid;
  grid-template-columns: 200px auto;
  padding: 20px 0;
  border-bottom: 1px solid white;
}

.course-numbers div {
  display: flex;
  justify-content: space-between;
}

.course-desc {
  border: none;
}

.course-desc p {
  margin: 10px 0;
}

.course-desc ul {
  list-style: disc;
  padding-left: 20px;
  margin: 10px 0;
}

.no-curriculum {
  margin: 50px 0;
}

.no-curriculum i {
  color: #ea5252;
}

/* ScrollBard */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #262b2f;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(240, 240, 240);
}

.course-sections {
  overflow-y: scroll;
}

.section-wrapper {
  width: 80%;
  margin: 50px auto;
}

.section {
  margin: 20px 0;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}

.section ul li {
  border: 1px solid;
  border-radius: 3px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.section ul li p {
  width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.section ul li i {
  color: white;
  transition: color 0.2s;
}

.section ul li i:hover {
  cursor: pointer;
  color: #ea5252;
}
