@import url("https://fonts.googleapis.com/css?family=Raleway:300,500&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

*:focus {
  outline: none;
}

body {
  background-color: #fcfdff;
  margin: 10px;
}

/* Container */

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Spiner */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 50px;
  height: 50px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #292929d3;
  border-color: #292929d3 transparent #292929d3 transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
  animation: lds-dual-ring 1.2s linear infinite;
}
@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#form input {
  padding: 10px 15px;
  border-radius: 5px;
  border: 0;
  width: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 1.2em;
  background-color: #f5f7fb;
  -webkit-box-shadow: 0px 3px 10px #d2d2d2d9;
  box-shadow: 0px 3px 10px #d2d2d2d9;
}

::-webkit-input-placeholder {
  color: #292929d3;
  opacity: 1;
}

::-moz-placeholder {
  color: #292929d3;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #292929d3;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #292929d3;
  opacity: 1;
}

::placeholder {
  color: #292929d3;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #292929d3;
}

::-ms-input-placeholder {
  color: #292929d3;
}

#form button {
  -webkit-box-shadow: 0px 3px 10px #d2d2d2d9;
  box-shadow: 0px 3px 10px #d2d2d2d9;
  background-color: #2a2a2a;
  color: white;
  border: 0;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0 15px;
}

.card {
  background-color: #e3e8f146;
  border-radius: 5px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 3px 10px #d2d2d2d9;
  box-shadow: 0px 3px 10px #d2d2d2d9;
  overflow: hidden;
}

.cover img {
  width: 100%;
}

.detail {
  padding: 10px;
  color: #292929;
}

.title {
  font-weight: 500;
}

.source {
  padding-top: 5px;
  font-weight: 300;
}

.loading,
.notfound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 50px 0;
}

#title {
  text-align: center;
  margin: 25px 0;
}

.header {
  margin: 20px auto;
}

.header a {
  padding: 10px;
  background-color: #292929;
  color: white;
  border-radius: 10px;
}

.header a i {
  padding-right: 5px;
}

.course-title {
  text-align: center;
  margin: 20px 0;
  font-size: 1em;
}

.section {
  margin: 10px 0;
}

.section li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  margin: 2px 0;
  border: 1px solid #eee;
  font-size: 0.7em;
}

.section li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-wrapper {
  max-width: 700px;
  margin: auto;
  padding: 0 10px;
}

.type {
  padding: 5px;
  border-radius: 3px;
  background-color: #292929;
  color: white;
  font-size: 0.8em;
  margin: 0 10px;
}

.watch {
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #292929;
  color: white;
  border: 0;
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.watch p {
  display: none;
  padding-left: 5px;
}

.watch:hover {
  cursor: pointer;
}

p.lecture-title {
  max-width: 30vw;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.fa-play {
  font-size: 0.8em;
}

#modal video,
.video-failed {
  z-index: 69;
  width: 90vw;
}

#modal,
.bc {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(95, 95, 95, 0.514);
}

.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.close {
  display: none;
}

.video-failed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.video-failed p {
  background-color: #292929;
  padding: 5px;
  border-radius: 2px;
  margin-top: 5px;
  color: white;
}

.course-cover {
  max-width: 500px;
  margin: auto;
}
.course-cover img {
  -webkit-box-shadow: 0 0 20px #adadad;
  box-shadow: 0 0 20px #adadad;
  width: 100%;
}

.course-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 50px;
}

.course-detail ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.course-detail ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 10px 20px;
}
